<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	{{/*<link rel="icon" href="@{/images/favicon.png}">*/}}

	<title>CH </title>

	<!--Bootstrap core CSS -->
	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		  crossorigin="anonymous">
	<link href="https://wisvch.github.io/bootstrap-theme/dist/css/bootstrap.min.css" rel="stylesheet">
	 <link href="/static/css/dashboard.css" rel="stylesheet">
	 <link href="/static/css/wisvch-dashboard.css" rel="stylesheet">
	 <link rel="stylesheet" href="@{static/font-awesome-4.7.0/css/fontawesome.min.css}">
</head>

<body>
<form action="/api/form" method="POST" class="form col-12">
	<p>Simple user form</p>
	<div class="form-group ">
		<label for="first_name">first name</label>
		<input type="text" name="first_name" class="form-control" id="first_name" value="">
	</div>
	<div class="form-group ">
		<label for="last_name">last name</label>
		<input type="text" name="last_name" class="form-control" id="last_name" value="">
	</div>
	<div class="form-group ">
		<label for="gender">gender</label>
		<select name="gender" id="gender" class="form-control">
			<option value="M">Male</option>
			<option value="F">Female</option>
			<option value="F">Other</option> <!-- If you look at this code: http://github.com/wisvch/dienst2 has no support for other genders yet. You can fix that! -->
		</select>
	</div>
	<div class="form-group ">
		<label for="study">study</label>
		<select name="study" id="study" class="form-control">
			<option value="Technische Informatica">Computer science and engineering</option>
			<option value="Technische Wiskunde">Mathematics</option>
		</select>
	</div>
	<div class="form-group ">
		<label for="start_year">Start year</label>
		<input type="date" name="start_year" class="form-control" id="start_year" value="">
	</div>
	<div class="form-group ">
		<label for="email">email</label>
		<input type="text" name="email" class="form-control" id="email" value="">
	</div>
	<div class="form-group ">
		<label for="Date">BirthDate</label>
		<input type="date" name="birth_date" class="form-control" id="birth_date" value="">
	</div>
	<div class="form-group ">
		<label for="phone_number">phone number</label>
		<input type="text" name="phone_number" class="form-control" id="phone_number" value="">
	</div>
	<div class="form-group ">
		<label for="full_name">full_name</label>
		<input type="text" name="full_name" class="form-control" id="full_name" value="">
	</div>
	<div class="form-group ">
		<label for="first_letters">first_letters</label>
		<input type="text" name="first_letters" class="form-control" id="first_letters" value="">
	</div>
	<div class="form-group ">
		<label for="street_name">street_name</label>
		<input type="text" name="street_name" class="form-control" id="street_name" value="">
	</div>
	<div class="form-group ">
		<label for="street_number">street_number</label>
		<input type="text" name="street_number" class="form-control" id="street_number" value="">
	</div>
	<div class="form-group ">
		<label for="postal_code">postal_code</label>
		<input type="text" name="postal_code" class="form-control" id="postal_code" value="">
	</div>
	<div class="form-group ">
		<label for="place">place</label>
		<input type="text" name="place" class="form-control" id="place" value="">
	</div>
	<div class="form-group ">
		<label for="country">country</label>
		<input type="text" name="country" class="form-control" id="country" value="">
	</div>
	<div class="form-group ">
		<label for="netid">netid</label>
		<input type="text" name="netid" class="form-control" id="netid" value="">
	</div>
	<div class="form-group ">
		<label for="student_number">Student number</label>
		<input type="text" name="student_number" class="form-control" id="student_number" value="">
	</div>
	<div class="form-group ">
		<label for="EmergencyName">Emergency contact name</label>
		<input type="text" name="emergency_name" class="form-control" id="emergency_name" value="">
	</div>
	<div class="form-group ">
		<label for="emergency_phone">Emergency contact phone number</label>
		<input type="text" name="emergency_phone" class="form-control" id="emergency_phone" value="">
	</div>
	<div class="form-check ">
		<label for="yearbook_permission">yearbook_permission</label>
		<input type="checkbox" name="yearbook_permission" class="form-check-input" id="yearbook_permission"
			   value="">
	</div>
	<div class="form-check ">
		<label for="activity_mail">activity_mail</label>
		<input type="checkbox" name="activity_mail" class="form-check-input" id="activity_mail" value="">
	</div>
	<div class="form-check ">
		<label for="career_mail">career_mail</label>
		<input type="checkbox" name="career_mail" class="form-check-input" id="career_mail" value="">
	</div>
	<div class="form-check ">
		<label for="education_mail">education_mail</label>
		<input type="checkbox" name="education_mail" class="form-check-input" id="education_mail" value="">
	</div>
	<div class="form-check ">
		<label for="machazine">machazine</label>
		<input type="checkbox" name="machazine" class="form-check-input" id="machazine" value="">
	</div>
	<div class="form-check ">
		<label for="freshmen_weekend">freshmen_weekend</label>
		<input type="checkbox" name="freshmen_weekend" class="form-check-input" id="freshmen_weekend" value="">
	</div>
	<input type="submit">
</form>
</body>

</html>
