## SPRING SETTINGS
spring:
    main:
        allow-bean-definition-overriding: true
    thymeleaf:
        mode: HTML5
        encoding: UTF-8
    mail:
        host: localhost
        port: 1025

    mvc:
        throw-exception-if-no-handler-found: true
    web:
        resources:
            add-mappings: false

    data.jpa.repositories.enabled: true
    datasource:
        driver-class-name: org.postgresql.Driver
        url: jdbc:postgresql://localhost:5432/memberregistration
        username: memberregistration
        password: memberregistration
    jpa:
        database: postgresql
        database-platform: org.hibernate.dialect.PostgreSQLDialect
        generate-ddl: true
        hibernate.ddl-auto: create
        properties.hibernate.default_schema: PUBLIC
        show-sql: false
    security:
        oauth2:
            client:
                provider:
                    wisvchconnect:
                        issuer-uri: https://connect.ch.tudelft.nl
                registration:
                    wisvchconnect:
                        client-id: 40dfe413-f7f3-4ab9-b895-06503306461e
                        client-secret: SeuvWzzu5KkJ75Yl6VXr50Py9FvT7ziXJfGT0Xcc2dUNlJ5EdQKJCz8e7CKQhJm9UaNe2NnoOFr9FRP32LazxA
                        scope:
                            - openid
                            - profile
                            - email
                            - ldap

server:
    port: 9000
    servlet:
        context-path: /register


# Spring Boot Actuator endpoint settings
management:
    endpoints:
        web:
            base-path: /management
    endpoint:
        logfile:
            enabled: true

wisvch.connect:
    # Change <MyLDAPgroup> to a LDAP group you're in (e.g. hoothub, dienst2, etc.)
    admin-groups: hoothub

dienst:
    url: {dienst_url}
    token: {dienst_api_token}

# CH Payments Configuration
wisvch.payments:
    issuerUri: http://localhost:8080/payments
    clientUri: http://localhost:9000/member
