<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<style>
		html,
		body {
			width: 100%;
			font-family: helvetica, 'helvetica neue', arial, verdana, sans-serif;
			-webkit-text-size-adjust: 100%;
			-ms-text-size-adjust: 100%;
		}
	</style>
</head>
<body>
<table class="es-header-body" width="600" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center">
	<tbody>
	<tr>
		<td style="text-align: left">
			<table width="100%" cellspacing="0" cellpadding="0">
				<tbody>
				<tr>
					<td class="esd-container-frame" width="560" valign="top" align="center">
						<table width="100%" cellspacing="0" cellpadding="0">
							<tbody>
							<tr>
								<td class="esd-block-image" align="center" style="font-size: 0px;"><a target="_blank"><img class="adapt-img" src="https://pgqau.stripocdn.email/content/guids/CABINET_b4bf466f191f30b101a354dd6dbf94ed/images/73891552579981377.png" alt style="display: block;" width="560"></a></td>
							</tr>
							</tbody>
						</table>
					</td>
				</tr>
				</tbody>
			</table>
		</td>
	</tr>
	<tr>
		<td class="es-p20t es-p20r es-p20l esd-structure" align="left">
			<table width="100%" cellspacing="0" cellpadding="0">
				<tbody>
				<tr>
					<td class="esd-container-frame" width="560" valign="top" align="center">
						<table width="100%" cellspacing="0" cellpadding="0">
							<tbody>
							<tr>
								<td class="esd-block-text" esd-links-underline="underline" align="left">
									<p>Hi <span th:text="${name}"></span>!</p>
									<p th:utext="${message}">Message</p>
								</td>
							</tr>
							</tbody>
						</table>
					</td>
				</tr>
				</tbody>
			</table>
		</td>
	</tr>
	</tbody>
</table>
</body>
</html>
